:root {
  --primary-color: #252947;
  --secondary-color: #EF6B52;
  --primary-text: #252947;
  --secondary-text: #EF6B52;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.slick-prev, .slick-next {
    z-index: 3 !important;
}

.slick-dots {
    z-index: 3 !important;
    bottom: 10px; /* Adjust based on layout */
}

.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 22px;
}


.App-header {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--secondary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
